storage: none
source https://api.nuget.org/v3/index.json

nuget FsCheck.Xunit
nuget Microsoft.CodeAnalysis.FxCopAnalyzers copy_local: false
nuget Microsoft.NET.Test.Sdk
nuget Microsoft.NETFramework.ReferenceAssemblies
nuget xunit
nuget xunit.runner.visualstudio
nuget coverlet.msbuild